body {
    background: url("http://i.imgur.com/QC3apXk.png");
}
a {
    text-decoration: none;
}
#nav {
    margin-left: 50px;
    margin-top: 100px;
    z-index: 10;
}
#nav ul, #nav li {
    margin: 0;
    padding: 0;
    vertical-align: top;
}
#nav li {
    display: block;
    margin: 0 4px 2px 4px;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    background: #8CA9DB;
    width: 120px;
}
#nav li:hover {
    background: #4980D8;
    transition: background .2s;
}
#nav li a {
    font: 12pt tahoma;
    color: #ffffff;
}
#nav li ul {
    margin-top: -22px;
    margin-left: 125px;
    margin-right: 0;
    margin-bottom: 0;
}
#nav li li {
    display: block;
    margin: 0;
    text-decoration: none;
    padding: 5px;
    text-align: left;
    background: #ffffff;
    font: 10pt tahoma;
    color: #4980D8;
    width: 80px;
    z-index: 100;
    border-right: 2px #4980D8 solid;
}
#nav li li a {
    font: 10pt tahoma;
    color: #4980D8;
}
#nav li li:hover {
    background: #eaeaea;
    transition: background .2s;
}
.drop {
    height: 22px;
    width: 120px;
    overflow: hidden;
}
.drop:hover {
    overflow: visible;
}
#head {
    top: 20px;
    left: 250px;
    position: absolute;
    font: 36pt georgia;
    color: #1C3577;
    letter-spacing: 0px;
    word-spacing: 4px;
    font-weight: bold;
}
#main {
    top: 100px;
    left: 270px;
    position: absolute;
    z-index: -1;
}
.page {
    width: 600px;
    padding: 10px 10px 100px 10px;
    background: #ffffff;
    font: 10pt verdana;
    color: #000000;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px #D0D3EF solid;
}
#side {
    float: right;
    margin-top: -120px;
    position: fixed;
}
