body {
    background: url("http://i.imgur.com/QC3apXk.png");
}
a {
    text-decoration: none;
}
#nav {
    margin-left: 100px;
    margin-top: 75px;
}
#nav ul, #nav li {
    margin: 0;
    padding: 0;
    vertical-align: top;
}
#nav li {
    display: inline-block;
    margin: 0 4px 2px 4px;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    background: #8CA9DB;
    width: 120px;
}
#nav li:hover {
    background: #4980D8;
    transition: background .2s;
}
#nav li a {
    font: 12pt tahoma;
    color: #ffffff;
}
#nav li ul {
    margin: 7px -10px 0 0;
}
#nav li li {
    display: block;
    margin: 0;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    background: #ffffff;
    font: 10pt tahoma;
    color: #4980D8;
    width: 120px;
}
#nav li li:hover {
    background: #ffffff;
}
#nav li li a {
    font: 10pt tahoma;
    color: #4980D8;
}
#nav li li a:hover {
    text-decoration: underline;
    background: #ffffff;
}
.drop {
    height: 22px;
    overflow: hidden;
}
.drop:hover {
    overflow: visible;
}
